<h2>Online</h2>
<ul>
    <li ng-repeat="person in vm.onlinePeople">
        {{person.UserName}}
    </li>
</ul>

<a ng-click="vm.call()" class="btn btn-default">Call</a>

<div ng-if="vm.callsWhereCaller.length > 0">
    <h2>Outgoing</h2>
    <ul>
        <li ng-repeat="call in vm.callsWhereCaller">
            <a class="btn btn-link" ng-click="vm.withdraw(call)">Withdraw</a>
        </li>
    </ul>
</div>

<div ng-if="vm.callsWhereCallee.length > 0">
    <h2>Incoming</h2>
    <ul>
        <li ng-repeat="call in vm.callsWhereCallee">
            <a class="btn btn-link" ng-click="vm.accept(call)">Accept</a>
        </li>
    </ul>
</div>


