@using Mvc.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<div class="container-fluid container-fill-height">
    <div class="container-content-middle">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "m-x-auto text-center app-login-form" }))
        {
            @Html.AntiForgeryToken()
            <a href="/" class="app-brand m-b-lg">
                <img src="/Content/images/logo.png" alt="brand">
            </a>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <footer class="screen-login">
                <input id="newPasswordButton" type="submit" value="Send new password" class="btn btn-primary" />
            </footer>
        }
    </div>
</div>