@using Mvc.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container-fluid container-fill-height">
    <div class="container-content-middle">

        <div class = "m-x-auto text-center app-login-form">
            <p>
                Password sent. 
            </p>
            <p>
                @Html.ActionLink("Go to login", "Login", "Account")
            </p>
        </div>
    </div>
</div>