<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="allors" connectionString="server=(local);database=realtime;Integrated Security=SSPI" />
  </connectionStrings>

  <appSettings>
    <add key="dataPath" value="..\..\..\Data"/>
    <add key="link" value="http://localhost:56518/go/to/"/>

    <add key="webUrl" value="http://localhost:56518/"/>
    
    <!--
    <add key="webUrl" value="https://localhost:44300/"/>
    -->
  </appSettings>
  
</configuration>